$background_colour: #343434;
$white: #FFFFFF;
$default_font: Arial, sans-serif;

@mixin desktop_device {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

BODY {
  background-color: $background_colour;
  color: $white;
  font-family: $default_font;
  padding: 0;
  margin: 0;
}

@mixin btn_style($bg_colour, $text_colour) {
  background-color: $bg_colour;
  color: $text_colour;
  border-color: $bg_colour;

  &:hover {
    background-color: lighten($bg_colour, 10%);
    border-color: lighten($bg_colour, 10%);
  }
}

.btn {
  width: 95%;
  border: 2px solid $white;
  padding: 10px;
  display: inline-block;
  color: $white;
  text-decoration: none;
  border-radius: 20px;
  box-sizing: border-box;
  text-align: center;
  margin: 10px 2.5%;
  font-size: 16px;
  cursor: pointer;

  @include desktop_device {
    width: auto;
    padding: 10px 15px;
    margin: 10px;
  }

  &:hover {
    background-color: $white;
    color: $background_colour;
  }

  &.btn {
    &-success {
      @include btn_style(green, $white);
    }
    &-danger {
      @include btn_style(red, $white);
    }
    &-warning {
      @include btn_style(yellow, $background_colour);
    }
    &-info {
      @include btn_style(blue, $white);
    }
    &-back {
      @include btn_style(lighten($background_colour, 10%), $white);
    }
  }
}

.field {
  width: 95%;
  margin: 10px 2.5%;

  @include desktop_device {
    max-width: 400px;
    margin: 10px;
  }

  LABEL {
    display: block;
  }

  INPUT, TEXTAREA, SELECT {
    width: 100%;
    background-color: $white;
    color: $background_colour;
    box-sizing: border-box;
    padding: 10px;
    font-family: $default_font;
    border: 1px solid $white;
    outline: none;
    margin-top: 5px;
  }
}
